:root {
  --backgroud-color:#000;
  --background-frame:#191C24;
  --header-pink:#AF1763;
  --support-blue:#0D6EFD;
  --support-green:#198754;
  --support-sky:#0DCAF0;
  --support-red:#AB2E3C;;
  --support-yellow:#FFC107;
  --font-color:#fff;
  --highlight-color:grey;

}

*{
  padding: 0px;
  margin: 0px;
}